<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><head>
<title>Add Book - Worblehat Bookmanager</title>
</head>
<body>
	<h1>Add Book</h1>

	<form th:object="${bookDataFormData}" method="POST">
		<table>
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tr>
				<td>Title:</td>
				<td><input type="text" th:field="*{title}" /></td>
				<td><span id="title.error" class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></td>
			</tr>
			<tr>
				<td>Edition:</td>
				<td><input type="text" th:field="*{edition}" /></td>
				<td><span id="edition.error" class="error" th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}"></span></td>
			</tr>
			<tr>
				<td>ISBN:</td>
				<td><input type="text" th:field="*{isbn}" /></td>
				<td><span id="isbn.error" class="error" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><input type="text" th:field="*{author}" /></td>
				<td><span id="author.error" class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span></td>
			</tr>
			
			<tr>
				<td>Year:</td>
				<td><input type="text" th:field="*{yearOfPublication}" /></td>
				<td><span id="yearOfPublication.error" class="error" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}"></span></td>
			</tr>
			<tr>
				<td>Amount:</td>
				<td><input type="number" value="1" min="1" th:field="*{amount}" /></td>
				<td><span id="amount.error" class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span></td>
			</tr>

			<tr>
				<td></td>
				<td colspan="1">
					<input type="submit" id="addBook" value="Add Book" style="width:100%"/>
				</td>
			</tr>			
		</table>
		<a th:href="@{/}">Back to Home</a>
	</form>
	<h6><span th:text="${@environment.getProperty('info.version')}"></span></h6>

</body>
</html>
